/* ---------- SETTING FONTS ---------- */
@font-face {
    font-family: 'AdiHaus';
    src: url('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AdiHaus";
    src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
    border-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
:root {
    --theme-color-black: #333333; /* rgba(51, 51, 51, 1) */
    --theme-color-brown: #423A3A; 
    --theme-color-red: #CD3A24;
    --theme-color-blue: #2F80ED;
    --theme-color-white: #FEFFFF; /* rgba(254, 255, 255, 1) */
}
  
/* ---------- MAIN BODY DECLERATIONS ---------- */

html, body {
    background-color: var(--theme-color-white);
    font-family: "AdiHaus";
    font-size: 14px;
    height: 100%;
    width: 100%;
}

input {
    font-family: 'AdiHaus';
}

.mobile-container {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
}

.hero-image-desktop {
    display: none;
}

/* ---------- HERO BANNER DECLERATIONS ---------- */
.hero-banner {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero-banner .logo-wrapper {
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
    width: auto;
}
    
    .logo-wrapper img {
        display: block;
        height: 2.5rem;
        margin: 0 auto;
        width: auto;
    }

.hero-banner .hero-image {
    background-image: url(/images/mobile-shoes.PNG);
    /* alternate image for codepen version */
    /* background-image: url(https://assets.codepen.io/6060109/mobile-shoes.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 376px;
    width: 100%;
}

/* ---------- TEXT INFO DECLERATIONS ---------- */
.text-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

    .text-info > * {
        padding: 0 2.5rem 1rem;
    }

    /* intended for the first h2 within .text-info */
    .text-info h2:nth-child(1) {
        color: var(--theme-color-blue);
        font-weight: normal;
        padding-top: 1.8rem;
        padding-bottom: 1rem;
    }

    .text-info h2 {
        font-size: 3.5rem;
        font-weight: bold;
        color: var(--theme-color-brown);
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .text-info p {
        color: var(--theme-color-black);
        line-height: 24px;
    }

    .text-info .email-signup {
        margin: 1rem 0 6rem;
        position: relative;
        width: 100%;
    }
    
        .email-signup .email-input {
            border: 1px solid rgba(51, 51, 51, .7);
            border-radius: 3px;
            padding: 1rem 1.5rem;
            padding-right: 5.5rem;
            opacity: .5;
            width: 100%;
        }

        .email-signup .email-input:focus {
            background-color: var(--theme-color-white);
            outline: 2px solid var(--theme-color-black);
            opacity: 1;
        }

        .email-signup .email-submit {
            background: linear-gradient(135deg, #7C7C7C 0%, #2B2828 100%);
            box-shadow: 0px 15px 20px rgba(66, 58, 58, 0.15);
            /* The below rule was necessary for the original design; however, it does not work with the new gradient background; the box shadow above is also an addition to this design. */
            /* border-bottom: 1px solid var(--theme-color-black); */
            border-radius: 2px;
            cursor: pointer;
            color: var(--theme-color-white);
            display: inline-block;
            font-weight: bold;
            height: 3.55rem;
            opacity: 0;
            padding: 1rem 3rem;
            position: absolute;
            right: 0;
            margin-right: 2.5rem;
            z-index: 10;
        }

        .email-signup #submit-svg-container {
            display: inline;
            height: 3.25rem;
            opacity: 1;
            z-index: 5;
        }

        .email-signup #email-submit-svg {
            transform: translate(0%, -3%);
        }

@media only screen and (min-width: 768px) {
    body {
        background-image: url(/images/desktop-bg-gray-waves.PNG);
        /* alternate background source for codepen version */
        /* background-image: url(https://assets.codepen.io/6060109/waves.png); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        height: inherit;
        max-width: 100%;
        margin: 0 auto;
    }

    .mobile-container {
        width: 55vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .hero-banner .logo-wrapper {
        width: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
    }
        .logo-wrapper img {
            margin: 0 0 0;
            padding-left: 2.5rem;
        }

    .hero-image {
        display: none;
    }

    .text-info {
        text-align: left;
        align-items: start;
    }
    
        .text-info h2 {
            font-size: 4.5rem;
        }

        .text-info p {
            font-size: 16px;
        }

        .text-info input {
            font-size: 16px;
        }

        .text-info .email-signup {
            margin: 1rem 0 8rem;
        }

    .hero-image-desktop {
        display: inline-block;
        height: 100%;
        width: 45vw;
    }

    .hero-image-desktop img {
        /* clip path was for original version; not used in alternate version */
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%); */
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    /* Used for overiding certain css rules from its associated class */
    .email-signup #submit-svg-container {
        display: inline;
        height: 3.55rem;
        opacity: 1;
        z-index: 5;
    }

    /* The SVG is placed, whithin it container, behind the submit button on the z-index. The submit input itself has an opacity of zero so that the svg symbol can be seen from behind without interfering with its functionality. The 1px padding is used for recentering the svg because of it's container's 1px border-bottom.*/
    .email-signup #email-submit-svg {
        padding-top: 1px;
    }

    .email-signup #email-submit-svg {
        transform: translate(0%, 5%);
    }
}